
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12 nocollapse">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-sortable="false">
                <header><h2>Payment Release View</h2></header>
                <!-- widget div-->
                <div>
                    <div class="widget-body no-padding">
                        <form class="smart-form smart-form-main">
                            <!--<header>Please select the claims to forward to Tresurer for payment</header>-->
                            <div>
                                <header>ALC Details</header>
                                <fieldset>
                                    <section>
                                        <div class="row">
                                            <div class="col col-6">
                                                <label><strong>ALC Name: </strong>{{officeDetails.userName}} </label>
                                            </div>
                                            <div class="col col-6">
                                                <label><strong>RLO Office Name & Address: </strong>{{RloOfficeAddress.rloOfficeName}} <br /> {{RloOfficeAddress.addressLine1}} &nbsp; {{RloOfficeAddress.addressLine2}}</label>
                                            </div>
                                           
                                        </div>
                                    </section>
                                </fieldset>

                                <fieldset style="display:none">
                                    <section>
                                        <header>Fund Status at RLO</header>
                                        <div class="row">
                                            <div class="col col-6">
                                                <label><strong>Balance as on today : </strong>{{RloOfficeAddress.balanceOfTheAmount}}</label>
                                            </div>

                                        </div>
                                    </section>
                                </fieldset>
                                <fieldset>
                                    <div class="widget-body no-padding">
                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>SSIN</th>
                                                    <th>Beneficiary Name</th>
                                                    <th>Beneficiary Type</th>
                                                    <th>Claim Reference No.</th>
                                                    <th>Claim Category</th>
                                                    <th>Submission Date</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let claim of claimsData">
                                                    <td>{{claim.ssin}}</td>
                                                    <td>{{claim.benName}}</td>
                                                    <td>{{claim.benType}}</td>
                                                    <td>{{claim.claimRefernceNo}}</td>
                                                    <td>{{getTypeName(claim.claimType)}}</td>
                                                    <td>{{claim.submittedDateString}}</td>
                                                    <td>{{claim.approvedAmount}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="7"></td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>

                                </fieldset>
                                <fieldset>

                                    <div class="row">
                                        <div class="col col-4">
                                            <label class="control-label"><strong>Amount Transferred:</strong>{{paymentReleaseDetails.releasedAmount}}</label>
                                            
                                        </div>
                                        <!--<div class="col col-4 selectContainer">
                <label class="control-label">Source Bank Account<span [style.color]="!bankIsValid?'red':''"><b>*</b></span></label>
                <select class="form-control" name="rloBankId" [(ngModel)]="rloBankId">
                    <option value="">Choose a Bank Account</option>
                    <option value="{{bank.rloOfficeBankId}}" *ngFor="let bank of bankDetails">{{bank.bankAccountNo}}</option>
                    <i></i>
                </select>
            </div>-->
                                        <div class="col col-4 selectContainer">
                                            <label class="control-label"><strong> Bank Name: </strong>{{paymentReleaseDetails.bankName}}</label>
                                            
                                        </div>
                                        <!--<div class="col col-4">
                                            <label class="control-label"><strong>Download Bank NEFT Document:</strong></label>
                                            <i class="fa fa-file-excel-o" aria-hidden="true" style="color: green;zoom: 3;" (click)="downloadNeftDocument()"></i>
                                        </div>-->
                                    </div>
                                </fieldset>
                                <footer>
                                    <a class="btn btn-danger" (click)="cancelclick()"><i class="fa fa-remove"></i> Cancel</a>
                                </footer>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </article>
        <!-- WIDGET END -->
    </div>

    <!-- end row -->
</section>


