@model SSY.Models.login
@{
    ViewBag.Title = "Index";
    <a href="~/Views/Shared/_LoginLayout.cshtml"></a>
}
<div class="col-md-4 col-sm-2 xol-xs-1"></div>
<div class="col-md-4 col-sm-8 xol-xs-10">
    <div class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-lock"></span> Login
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "Login", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">
                        Username
                    </label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Username, null, new { @class = "form-control", placeholder = "Username" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">
                        Password
                    </label>
                    <div class="col-sm-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                </div>
                <center>
                    <button type="submit" class="btn btn-success btn-sm">
                        Sign in
                    </button>
                </center>
                <label style="font-size:10px;color:red;margin-left:71px;">@ViewBag.erromesage</label>
            }
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-2 xol-xs-1"></div>