<section id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 nocollapse">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-sortable="false">
                <header>
                    <h2>Disability Configuration</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <form class="smart-form ">
                            <!--smart-form-main-->
                            <header>Date of Release Exceeding</header>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">Condition:<span [style.color]="!logicValid?'red':''"><b>*</b></span></label>
                                        <select class="form-control" name="logic" [(ngModel)]="disConfig.logic">
                                            <option value="0" selected>Choose an Option</option>
                                            <option value=">">></option>
                                            <option value="<"><</option>
                                            <option value=">=">>=</option>
                                            <option value="<="><=</option>
                                            <option value="==">==</option>
                                        </select>
                                        <div *ngIf="!logicValid">
                                            <span style="color: red;">Logic is required </span>
                                        </div>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Value:<span [style.color]="!valueValid?'red':''"><b>*</b></span> </label>
                                        <label class="input">
                                            <input type="number" name="value" placeholder="Value" [(ngModel)]="disConfig.value"
                                                   #value="ngModel" [ngClass]="{'invalid-data': value.invalid && ( !valueValid || value.touched ),
                                                        'valid-data': valueValid && value.valid  }" required>
                                        </label>
                                        <div *ngIf="value.invalid && (!valueValid || value.touched)">
                                            <span style="color: red;">Value is required </span>
                                        </div>
                                    </section>
                                </div>
                                <div class="row">
                                    <!--<section class="col col-6">
                                        <label class="label">Rule:<span [style.color]="!ruleValid?'red':''"><b>*</b></span></label>
                                        <label class="input">
                                            <input type="text" name="interestCode" placeholder="Rule" [(ngModel)]="disConfig.ruleName"
                                                   #interestCode="ngModel" [ngClass]="{'invalid-data': interestCode.invalid && ( !ruleValid || interestCode.touched ),
                                                        'valid-data': ruleValid && interestCode.valid  }" required>
                                        </label>
                                        <div *ngIf="interestCode.invalid && (!ruleValid || interestCode.touched)">
                                            <span style="color: red;">Rule is required </span>
                                        </div>
                                    </section>-->
                                    <section class="col col-6">
                                        <label class="label">Description:</label>
                                        <label class="input">
                                            <textarea rows="3" cols="72" class="custom-scroll" name="description" placeholder="Description" [(ngModel)]="disConfig.description"></textarea>
                                        </label>
                                    </section>
                                </div>

                                <!--<div class="row">
                                    <section class="col col-6">
                                        <label class="label">Effective From Date:<span [style.color]="!effectiveFromDateValid?'red':''"><b>*</b></span> </label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" name="effectiveFromDate" autocomplete="off" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                                                   placeholder="DD/MM/YYYY" value="{{ disConfig.dateEffectiveFrom | date: 'dd/MM/yyyy' }}"
                                                   [(ngModel)]="disConfig.dateEffectiveFrom" readonly
                                                   #effectiveFromDate="ngModel"
                                                   [ngClass]="{'invalid-data':effectiveFromDate.invalid && (!effectiveFromDateValid), 'valid-data': effectiveFromDate.valid && effectiveFromDateValid}"
                                                   required>
                                        </label>
                                        <div *ngIf="effectiveFromDate.invalid && (!effectiveFromDateValid)">
                                            <span style="color: red;">Effective From Date is required </span>
                                        </div>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Effective To Date:</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" name="effectiveToDate" autocomplete="off" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                                                   placeholder="DD/MM/YYYY" value="{{ disConfig.dateEffectiveTo | date: 'dd/MM/yyyy' }}"
                                                   [(ngModel)]="disConfig.dateEffectiveTo" readonly
                                                   #effectiveFromDate="ngModel"
                                                   required>
                                        </label>
                                    </section>
                                </div>-->
                            </fieldset>
                            <header>Reason For Delay Submission</header>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">Condition:<span [style.color]="!logicValid1?'red':''"><b>*</b></span></label>
                                        <select class="form-control" name="logic1" [(ngModel)]="disConfig1.logic">
                                            <option value="0" selected>Choose an Option</option>
                                            <option value=">">></option>
                                            <option value="<"><</option>
                                            <option value=">=">>=</option>
                                            <option value="<="><=</option>
                                            <option value="==">==</option>
                                        </select>
                                        <div *ngIf="!logicValid1">
                                            <span style="color: red;">Logic is required </span>
                                        </div>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Value:<span [style.color]="!valueValid1?'red':''"><b>*</b></span> </label>
                                        <label class="input">
                                            <input type="number" name="value1" placeholder="Value" [(ngModel)]="disConfig1.value"
                                                   #value1="ngModel" [ngClass]="{'invalid-data': value1.invalid && ( !valueValid1 || value1.touched ),
                                                        'valid-data': valueValid1 && value1.valid  }" required>
                                        </label>
                                        <div *ngIf="value1.invalid && (!valueValid1 || value1.touched)">
                                            <span style="color: red;">Value is required </span>
                                        </div>
                                    </section>
                                </div>
                                <div class="row">
                                    <!--<section class="col col-6">
                                        <label class="label">Rule:<span [style.color]="!ruleValid1?'red':''"><b>*</b></span></label>
                                        <label class="input">
                                            <input type="text" name="interestCode" placeholder="Rule" [(ngModel)]="disConfig1.ruleName"
                                                   #interestCode="ngModel" [ngClass]="{'invalid-data': interestCode.invalid && ( !ruleValid1 || interestCode.touched ),
                                                        'valid-data': ruleValid1 && interestCode.valid  }" required>
                                        </label>
                                        <div *ngIf="interestCode.invalid && (!ruleValid1 || interestCode.touched)">
                                            <span style="color: red;">Rule is required </span>
                                        </div>
                                    </section>-->
                                    <section class="col col-6">
                                        <label class="label">Description:</label>
                                        <label class="input">
                                            <textarea rows="3" cols="72" class="custom-scroll" name="description" placeholder="Description" [(ngModel)]="disConfig1.description"></textarea>
                                        </label>
                                    </section>
                                </div>
                                <!--<div class="row">
                                    <section class="col col-6">
                                        <label class="label">Effective From Date:<span [style.color]="!effectiveFromDateValid1?'red':''"><b>*</b></span> </label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" name="effectiveFromDate" autocomplete="off" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                                                   placeholder="DD/MM/YYYY" value="{{ disConfig1.dateEffectiveFrom | date: 'dd/MM/yyyy' }}"
                                                   [(ngModel)]="disConfig1.dateEffectiveFrom" readonly
                                                   #effectiveFromDate="ngModel"
                                                   [ngClass]="{'invalid-data':effectiveFromDate.invalid && (!effectiveFromDateValid1), 'valid-data': effectiveFromDate.valid && effectiveFromDateValid1}"
                                                   required>
                                        </label>
                                        <div *ngIf="effectiveFromDate.invalid && (!effectiveFromDateValid1)">
                                            <span style="color: red;">Effective From Date is required </span>
                                        </div>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Effective To Date:</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" name="effectiveToDate" autocomplete="off" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                                                   placeholder="DD/MM/YYYY" value="{{ disConfig1.dateEffectiveTo | date: 'dd/MM/yyyy' }}"
                                                   [(ngModel)]="disConfig1.dateEffectiveTo" readonly
                                                   #effectiveFromDate="ngModel"
                                                   required>
                                        </label>
                                    </section>
                                </div>-->
                            </fieldset>
                           
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Effective From Date:<span [style.color]="!effectiveFromDateValid2?'red':''"><b>*</b></span> </label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="effectiveFromDate" autocomplete="off" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                                               placeholder="DD/MM/YYYY" value="{{ disConfig.dateEffectiveFrom | date: 'dd/MM/yyyy' }}"
                                               [(ngModel)]="disConfig.dateEffectiveFrom" readonly
                                               #effectiveFromDate="ngModel"
                                               [ngClass]="{'invalid-data':effectiveFromDate.invalid && (!effectiveFromDateValid2), 'valid-data': effectiveFromDate.valid && effectiveFromDateValid2}"
                                               required>
                                    </label>
                                    <div *ngIf="effectiveFromDate.invalid && (!effectiveFromDateValid2)">
                                        <span style="color: red;">Effective From Date is required </span>
                                    </div>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Effective To Date:</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="effectiveToDate" autocomplete="off" class="form-control" bsDatepicker [bsConfig]="datePickerConfig"
                                               placeholder="DD/MM/YYYY" value="{{ disConfig.dateEffectiveTo | date: 'dd/MM/yyyy' }}"
                                               [(ngModel)]="disConfig.dateEffectiveTo" readonly
                                               #effectiveFromDate="ngModel"
                                               required>
                                    </label>
                                </section>
                            </div>
                            <footer class="modal-footer">
                                <a class="btn btn-primary" (click)="getHistoryData()">History</a>
                                <a class="btn btn-default" *ngIf="isSaveVisible" (click)="clearData()">Reset</a>
                                <a class="btn btn-success" *ngIf="isSaveVisible" (click)="saveDisabilityConfigData(disConfig,disConfig1)">Save</a>
                                <a class="btn btn-danger" (click)="cancelClick()"> Cancel</a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" [config]="{backdrop: 'static',keyboard:false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Success Message</h4>
            </div>
            <div class="modal-body" style="overflow-y:scroll">
                <div [innerHTML]="successMessage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="okClick()">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>

