<div id="welcome divSchemes">
    <div class=" welcome-bg-inside">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="inner-page-title nopadbot text-center">Schemes</h1>
                <div id="content-2" class="scrollContent content mCustomScrollbar light" data-mcs-theme="minimal-dark">
                    <table class="table table-bordered table-stripped view-act-rules-table">
                        <thead>
                            <tr class="whatliesbeyond">
                                <th width="65">Sl. No.</th>
                                <th>TITLE</th>
                                <th>Description</th>
                                <th class="text-center">Notifications</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="sl-no">1.</td>
                                <td>Gazette Notification No 253</td>
                                <td> Amendment Of West Bengal Unorganized Sector Worker Act 2007</td>
                                <td>
                                    <a href="/Content/pdf/253.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="sl-no">2.</td>
                                <td>Gazette Notification No 254</td>
                                <td>Repeal of Erst While SASPFUW</td>
                                <td>
                                    <a href="/Content/pdf/254.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="sl-no">3.</td>
                                <td>Gazette Notification No 255</td>
                                <td>Amendment Of West Bengal Transport Workers Social Security Scheme 2010</td>
                                <td>
                                    <a href="/Content/pdf/255.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="sl-no">4.</td>
                                <td>Gazette Notification No 256</td>
                                <td>Amendment Of West Bengal Building  & Other Construction Worker, RECS Act 96</td>
                                <td>
                                    <a href="/Content/pdf/256.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="sl-no">5.</td>
                                <td>Gazette Notification No 257</td>
                                <td>Samajik Suraksha Yojana 2017</td>
                                <td>
                                    <a href="/Content/pdf/257.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="sl-no">6.</td>
                                <td>Gazette Notification No 698</td>
                                <td>SSY 2017 Rules And Regulations</td>
                                <td>
                                    <a href="/Content/pdf/SSY_R_R_2017_Revised_121017.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>