<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Live-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.18.117.243;initial catalog=SSYDemo;user id=sa;password=Ssy@raminfo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--UAT-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SSYSYREPORT\REPORTING;initial catalog=SSYDemo;user id=sa;password=ssy@raminfo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.18.117.231;initial catalog=SSYDemo;user id=sa;password=ssy@raminfo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--9026- test server & DEV-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.210.74.23;initial catalog=SSYDemo;user id=sa;password=$$YSTG*@3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--UAT 24-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.210.74.24;initial catalog=SSYDemo;user id=sa;password=ssy@raminfo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.92.213.173;initial catalog=SSYDemo;user id=Saikumar;password=ssydev@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.210.74.24;initial catalog=SSYDemo;user id=Saikumar;password=Pass@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.92.213.173;initial catalog=SSYDemo;user id=Mahender;password=ssydev@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.18.117.229;initial catalog=SSYDemo;user id=Mahender;password=raminfo@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--LIVE 239 172.18.117.239 , 103.210.72.200-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.210.72.200;initial catalog=SSYDemo;user id=sa;password=Ssy@raminfo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Live Server-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.210.74.16;initial catalog=SSYDemo;user id=sa;password=Ssy@raminfo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.93.177;initial catalog=SSYDemo;user id=Prabhu;multipleactiveresultsets=True;connect timeout=160;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>