<div id="welcome" style="height:300px;margin-top:20px;">
    <div class=" welcome-bg-inside">
        <div class="row">
            <div class="col-sm-12">

                <div id="content-2" class="scrollContent content mCustomScrollbar light" data-mcs-theme="minimal-dark">
                    <table class="table table-bordered table-stripped view-act-rules-table">
                        <thead>
                            <tr class="whatliesbeyond">
                                <th width="65">Sl. No.</th>
                                <th>TITLE</th>
                                <th>Description</th>
                                <th class="text-center">Notifications</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="sl-no">1.</td>
                                <td>Gazette Notification No 257</td>
                                <td>Samajik Suraksha Yojana 2017</td>
                                <td>
                                    <a href="/Content/pdf/257.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>