@{
	ViewBag.Title = "Home Page";
	//Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}

<script src="~/Scripts/jquery.min.js"></script>


<div class="row">
	<div class="col-md-12" style="margin-left:400px;margin-top:80px">
		<img src="~/Content/images/under_maintenance04.png" class="img-responsive">
	</div>

</div>





