<div class="row" style="margin-top:10px;">
    <div class="col-md-3">
        <a target="_blank" href="/Content/images/20171014_190012.png">
            <img src="/Content/images/20171014_190012.png" class="img-rounded" alt="Cinque Terre" width="250" height="300">
        </a>
    </div>

    <div class="col-md-3">
        <a target="_blank" href="/Content/images/award2.png">
            <img src="/Content/images/award2.png" class="img-rounded" alt="Cinque Terre" width="250" height="300">
        </a>
    </div>
</div>