@{
    ViewBag.Title = "Actsrules";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}
<div id="welcome">
	<div class=" welcome-bg-inside">
		<div class="row">
			<div class="col-sm-12">
			<p class="text-center clsp30">Acts & Rules</p>
				<div id="content-2" class="scrollContent content mCustomScrollbar light" data-mcs-theme="minimal-dark">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Sl. No.</th>
								<th>TITLE</th>
								<th class="text-center">Rules</th>
								<th class="text-center">Notifications</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td >1.</td>
								<td>Minimum Wages Act 1948</td>
								<td>
									<a href="~/Content/pdf/13_WB%20Minimum%20Wages%20Rule,%201951.compressed.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg "></a>
								</td>
								<td>
									<a href="~/Home/minimumwagesnoti" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
							<tr>
								<td>2.</td>
								<td>The Un-organised Workers Social Security Act, 2008</td>
								<td>
									<a href="~/Content/pdf/W%20B%20Unorganised%20Sector%20Workers%20Welfare%20Rules,%202008.compressed.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
								<td>
									<a href="~/Content/pdf/22.06.2015_462_MW.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
							<tr>
								<td>3.</td>
								<td>WestBengal Un-organised Sector Workers Welfare Act, 2007</td>
								<td>
									<a href="~/Content/pdf/249-L%20The%20WB%20USW%20Wwelfare%20%20Act,%202007.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
								<td><center>--</center>
									<!--<a href="" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>-->
								</td>
							</tr>
							<tr>
								<td>4.</td>
								<td>WestBengal Shops & Establishment Act, 1963</td>
								<td>
									<a href="~/Content/pdf/The%20West%20Bengal%20Shops%20&%20Establishments%20Rule,%201964.compressed.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
								<td>
									<a ui-sref="wbshops" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
