
@{
    ViewBag.Title = "BeniFiciaryReg";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}

<div>

    <iframe src="" frameborder="0" class="col-md-12 iframeheight loadurl" id="RegFrmae" width="1200" height="800"></iframe>

</div>

<script>
    $(document).ready(function () {

        $("#RegFrmae").attr("src", "/Agent/BenReg");

    });

</script>

