@{
    ViewBag.Title = "ContactMore";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<h2>Contact More</h2>
<table class="table table-striped table-bordered contactdet dt-responsive nowrap MoreContact" cellspacing="0" width="100%">
    <thead><tr><th>Sl.No</th><th>Name</th><th>Contact Number</th></tr></thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Abhik Nandy(ALC)</td>
            <td><a href="917603091035" href="917603091035">917603091035</a></td>
        </tr>
        <tr>

            <td>2</td>
            <td>Ajay Bhattacharya(Addl. LC)</td>
            <td><a href="917603091006" href="917603091006">917603091006</a></td>
        </tr>
        <tr>

            <td>3</td>
            <td>Ali Ahmed Alamgir(ALC)</td>
            <td><a href="917603091036" href="917603091036">917603091036</a></td>
        </tr>
        <tr>

            <td>4</td>
            <td>Amanul Haque(Addl. LC)</td>
            <td><a href="917603091007" href="917603091007">917603091007</a></td>
        </tr>
        <tr>

            <td>5</td>
            <td>Amiya Das(ALC)</td>
            <td><a href="917603091037" href="917603091037">917603091037</a></td>
        </tr>
        <tr>

            <td>6</td>
            <td>Ananya Dutta Chowdhury(ALC)</td>
            <td><a href="917603091038" href="917603091038">917603091038</a></td>
        </tr>
        <tr>

            <td>7</td>
            <td>Anindita Bhattacharya(ALC)</td>
            <td><a href="917603091039" href="917603091039">917603091039</a></td>
        </tr>
        <tr>

            <td>8</td>
            <td>Anjan Mukhopadhyay(ALC)</td>
            <td><a href="917603091040" href="917603091040">917603091040</a></td>
        </tr>
        <tr>

            <td>9</td>
            <td>Ankan Chakraborty(ALC)</td>
            <td><a href="917603091041" href="917603091041">917603091041</a></td>
        </tr>
        <tr>

            <td>10</td>
            <td>Arther Horo(ALC)</td>
            <td><a href="917603091043" href="917603091043">917603091043</a></td>
        </tr>
        <tr>

            <td>11</td>
            <td>Arunima Biswas(DLC)</td>
            <td><a href="917603091044" href="917603091044">917603091044</a></td>
        </tr>
        <tr>

            <td>12</td>
            <td>Ashis Sarkar(DLC)</td>
            <td><a href="917603091017" href="917603091017">917603091017</a></td>
        </tr>
        <tr>

            <td>13</td>
            <td>Asitava Mukhopadhyay(ALC)</td>
            <td><a href="917603091046" href="917603091046">917603091046</a></td>
        </tr>
        <tr>

            <td>14</td>
            <td>Ataur Rahaman(ALC)</td>
            <td><a href="917603091047" href="917603091047">917603091047</a></td>
        </tr>
        <tr>

            <td>15</td>
            <td>Aziz Rasul(Addl. LC)</td>
            <td><a href="917603091002" href="917603091002">917603091002</a></td>
        </tr>
        <tr>

            <td>16</td>
            <td>Baladeb Mondal(ALC)</td>
            <td><a href="917603091048" href="917603091048">917603091048</a></td>
        </tr>
        <tr>

            <td>17</td>
            <td>Balaram Ghorai(JLC)</td>
            <td><a href="917603091013" href="917603091013">917603091013</a></td>
        </tr>
        <tr>

            <td>18</td>
            <td>Benoy Kumar Mukherjee(ALC)</td>
            <td><a href="917603091049" href="917603091049">917603091049</a></td>
        </tr>
        <tr>

            <td>19</td>
            <td>Bidesh Mandal(ALC)</td>
            <td><a href="917603091050" href="917603091050">917603091050</a></td>
        </tr>
        <tr>

            <td>20</td>
            <td>Bidisha Bhattacharya(ALC)</td>
            <td><a href="917603091051" href="917603091051">917603091051</a></td>
        </tr>
        <tr>

            <td>21</td>
            <td>Bikram Mohalanobish(ALC)</td>
            <td><a href="917603091052" href="917603091052">917603091052</a></td>
        </tr>
        <tr>

            <td>22</td>
            <td>Bimal Krishna Pal(AO)</td>
            <td><a href="917603091137" href="917603091137">917603091137</a></td>
        </tr>
        <tr>

            <td>23</td>
            <td>Biplab Majumdar(ALC)</td>
            <td><a href="917603091053" href="917603091053">917603091053</a></td>
        </tr>
        <tr>

            <td>24</td>
            <td>Biswajit Chaki(ALC)</td>
            <td><a href="917603091055" href="917603091055">917603091055</a></td>
        </tr>
        <tr>

            <td>25</td>
            <td>Biswajit Mukherjee(ALC)</td>
            <td><a href="917603091056" href="917603091056">917603091056</a></td>
        </tr>
        <tr>

            <td>26</td>
            <td>Chandan Banik(ALC)</td>
            <td><a href="917603091058" href="917603091058">917603091058</a></td>
        </tr>
        <tr>

            <td>27</td>
            <td>Chandan Dasgupta(JLC)</td>
            <td><a href="917603091014" href="917603091014">917603091014</a></td>
        </tr>
        <tr>

            <td>28</td>
            <td>Chandrachur Pan(ALC)</td>
            <td><a href="917603091059" href="917603091059">917603091059</a></td>
        </tr>
        <tr>

            <td>29</td>
            <td>Chewang Sherpa(ALC)</td>
            <td><a href="917603091060" href="917603091060">917603091060</a></td>
        </tr>
        <tr>

            <td>30</td>
            <td>Chiradip Bhattacharya(ALC)</td>
            <td><a href="917603091061" href="917603091061">917603091061</a></td>
        </tr>
        <tr>

            <td>31</td>
            <td>Debasis Gupta(ALC)</td>
            <td><a href="917603091063" href="917603091063">917603091063</a></td>
        </tr>
        <tr>

            <td>32</td>
            <td>Debasree Roy(DLC)</td>
            <td><a href="917603091065" href="917603091065">917603091065</a></td>
        </tr>
        <tr>

            <td>33</td>
            <td>Debu Kar(ALC)</td>
            <td><a href="917603091066" href="917603091066">917603091066</a></td>
        </tr>
        <tr>

            <td>34</td>
            <td>Dipak Kumar Sarkar(DLC)</td>
            <td><a href="917603091019" href="917603091019">917603091019</a></td>
        </tr>
        <tr>

            <td>35</td>
            <td>Dipankar Mukhopadhyay(ALC)</td>
            <td><a href="917603091067" href="917603091067">917603091067</a></td>
        </tr>
        <tr>

            <td>36</td>
            <td>Dipnarayan Bhandari(ALC)</td>
            <td><a href="917603091068" href="917603091068">917603091068</a></td>
        </tr>
        <tr>

            <td>37</td>
            <td>Gobinda Kumar Biswas(ALC)</td>
            <td><a href="917603091136" href="917603091136">917603091136</a></td>
        </tr>
        <tr>

            <td>38</td>
            <td>Gopal Biswas(ALC)</td>
            <td><a href="917603091069" href="917603091069">917603091069</a></td>
        </tr>
        <tr>

            <td>39</td>
            <td>Hiralal Pan(ALC)</td>
            <td><a href="917603091070" href="917603091070">917603091070</a></td>
        </tr>
        <tr>

            <td>40</td>
            <td>Hiralal Roy(DLC)</td>
            <td><a href="917603091020" href="917603091020">917603091020</a></td>
        </tr>
        <tr>

            <td>41</td>
            <td>Jawaid Akhtar(LC)</td>
            <td><a href="917603091000" href="917603091000">917603091000</a></td>
        </tr>
        <tr>

            <td>42</td>
            <td>Jhendhup Tshering Bhutia(ALC)</td>
            <td><a href="917603091071" href="917603091071">917603091071</a></td>
        </tr>
        <tr>

            <td>43</td>
            <td>Kalidas Dutta(ALC)</td>
            <td><a href="917603091072" href="917603091072">917603091072</a></td>
        </tr>
        <tr>

            <td>44</td>
            <td>Kallol Banerjee(DLC)</td>
            <td><a href="91760309" href="91760309">91760309</a></td>
        </tr>
        <tr>

            <td>45</td>
            <td>Kallol Chakraborty(ALC)</td>
            <td><a href="917603091073" href="917603091073">917603091073</a></td>
        </tr>
        <tr>

            <td>46</td>
            <td>Kallol Dutt(DLC)</td>
            <td><a href="917603091022" href="917603091022">917603091022</a></td>
        </tr>
        <tr>

            <td>47</td>
            <td>Kingsuk Sinha(DLC)</td>
            <td><a href="917603091100" href="917603091100">917603091100</a></td>
        </tr>
        <tr>

            <td>48</td>
            <td>Kuntal Das(ALC)</td>
            <td><a href="917603091074" href="917603091074">917603091074</a></td>
        </tr>
        <tr>

            <td>49</td>
            <td>Manas Sinha(ALC)</td>
            <td><a href="917603091075" href="917603091075">917603091075</a></td>
        </tr>
        <tr>

            <td>50</td>
            <td>Manisha Sarkar Bhattacharya(DLC)</td>
            <td><a href="917603091025" href="917603091025">917603091025</a></td>
        </tr>
        <tr>

            <td>51</td>
            <td>Manjir Ghosh(ALC)</td>
            <td><a href="917603091076" href="917603091076">917603091076</a></td>
        </tr>
        <tr>

            <td>52</td>
            <td>Manoj Kumar Saha(ALC)</td>
            <td><a href="917603091077" href="917603091077">917603091077</a></td>
        </tr>
        <tr>

            <td>53</td>
            <td>Md. Rizwan(JLC)</td>
            <td><a href="917603091010" href="917603091010">917603091010</a></td>
        </tr>
        <tr>

            <td>54</td>
            <td>Mihir Sarkar(DLC)</td>
            <td><a href="917603091026" href="917603091026">917603091026</a></td>
        </tr>
        <tr>

            <td>55</td>
            <td>Mihiran Baidya(ALC)</td>
            <td><a href="917603091078" href="917603091078">917603091078</a></td>
        </tr>
        <tr>

            <td>56</td>
            <td>Nabendu Mukhopadhyay(ALC)</td>
            <td><a href="917603091079" href="917603091079">917603091079</a></td>
        </tr>
        <tr>

            <td>57</td>
            <td>Nabin Kundu(ALC)</td>
            <td><a href="917603091080" href="917603091080">917603091080</a></td>
        </tr>
        <tr>

            <td>58</td>
            <td>Nandita Kundu Pal(ALC)</td>
            <td><a href="917603091081" href="917603091081">917603091081</a></td>
        </tr>
        <tr>

            <td>59</td>
            <td>Narendra Nath Aich(ALC)</td>
            <td><a href="917603091082" href="917603091082">917603091082</a></td>
        </tr>
        <tr>

            <td>60</td>
            <td>Neil Chettri(ALC)</td>
            <td><a href="917603091084" href="917603091084">917603091084</a></td>
        </tr>
        <tr>

            <td>61</td>
            <td>Nirupam Mondal(ALC)</td>
            <td><a href="917603091085" href="917603091085">917603091085</a></td>
        </tr>
        <tr>

            <td>62</td>
            <td>Partha Biswas(DLC)</td>
            <td><a href="917603091086" href="917603091086">917603091086</a></td>
        </tr>
        <tr>

            <td>63</td>
            <td>Partha Pratim Chakraborty(DLC)</td>
            <td><a href="917603091027" href="917603091027">917603091027</a></td>
        </tr>
        <tr>

            <td>64</td>
            <td>Partha Sarathi Chakraborty(DLC)</td>
            <td><a href="917603091400" href="917603091400">917603091400</a></td>
        </tr>
        <tr>

            <td>65</td>
            <td>Pashupati Ghosh(Addl. LC)</td>
            <td><a href="917603091005" href="917603091005">917603091005</a></td>
        </tr>
        <tr>

            <td>66</td>
            <td>Patit Paban Das(DLC)</td>
            <td><a href="917603091087" href="917603091087">917603091087</a></td>
        </tr>
        <tr>

            <td>67</td>
            <td>Pinaki Ranjan Mandal(ALC)</td>
            <td><a href="917603091088" href="917603091088">917603091088</a></td>
        </tr>
        <tr>

            <td>68</td>
            <td>Prasenjit Kundu(ALC)</td>
            <td><a href="917603091090" href="917603091090">917603091090</a></td>
        </tr>
        <tr>

            <td>69</td>
            <td>Prasun Kumar Roy(ALC)</td>
            <td><a href="917603091579" href="917603091579">917603091579</a></td>
        </tr>
        <tr>

            <td>70</td>
            <td>Priyanko Kumar Banerjee(ALC)</td>
            <td><a href="917603091092" href="917603091092">917603091092</a></td>
        </tr>
        <tr>

            <td>71</td>
            <td>Probir Kumar Roy(ALC)</td>
            <td><a href="917603091089" href="917603091089">917603091089</a></td>
        </tr>
        <tr>

            <td>72</td>
            <td>Rajat Pal(DLC)</td>
            <td><a href="917603091029" href="917603091029">917603091029</a></td>
        </tr>
        <tr>

            <td>73</td>
            <td>Raju Dutta(ALC)</td>
            <td><a href="917603091093" href="917603091093">917603091093</a></td>
        </tr>
        <tr>

            <td>74</td>
            <td>Ramesh Kumar Sinha(DLC)</td>
            <td><a href="917603091115" href="917603091115">917603091115</a></td>
        </tr>
        <tr>

            <td>75</td>
            <td>Rathin Sen(ALC)</td>
            <td><a href="917603091094" href="917603091094">917603091094</a></td>
        </tr>
        <tr>

            <td>76</td>
            <td>Ratnabali Ghosh Basu(ALC)</td>
            <td><a href="917603091095" href="917603091095">917603091095</a></td>
        </tr>
        <tr>

            <td>77</td>
            <td>Reena Targain(Addl. LC)</td>
            <td><a href="917603091008" href="917603091008">917603091008</a></td>
        </tr>
        <tr>

            <td>78</td>
            <td>Ritwick Mukherjee(ALC)</td>
            <td><a href="917603091096" href="917603091096">917603091096</a></td>
        </tr>
        <tr>

            <td>79</td>
            <td>Ruma Choudhury(JLC)</td>
            <td><a href="917603091012" href="917603091012">917603091012</a></td>
        </tr>
        <tr>

            <td>80</td>
            <td>Sabuj Kumar Dhali(ALC)</td>
            <td><a href="917603091097" href="917603091097">917603091097</a></td>
        </tr>
        <tr>

            <td>81</td>
            <td>Saibal Biswas(DLC)</td>
            <td><a href="917603091030" href="917603091030">917603091030</a></td>
        </tr>
        <tr>

            <td>82</td>
            <td>Sajal Das(ALC)</td>
            <td><a href="917603091099" href="917603091099">917603091099</a></td>
        </tr>
        <tr>

            <td>83</td>
            <td>Samir Kumar Basu(JLC)</td>
            <td><a href="917603091009" href="917603091009">917603091009</a></td>
        </tr>
        <tr>

            <td>84</td>
            <td>Sanatan Pramanik(DLC)</td>
            <td><a href="917603091031" href="917603091031">917603091031</a></td>
        </tr>
        <tr>

            <td>85</td>
            <td>Sandip Karmakar(ALC)</td>
            <td><a href="917603091024" href="917603091024">917603091024</a></td>
        </tr>
        <tr>

            <td>86</td>
            <td>Sandip Nandi(DLC)</td>
            <td><a href="917603091032" href="917603091032">917603091032</a></td>
        </tr>
        <tr>

            <td>87</td>
            <td>Sanjay Debnath(ALC)</td>
            <td><a href="917603091102" href="917603091102">917603091102</a></td>
        </tr>
        <tr>

            <td>88</td>
            <td>Sanjoy Kumar Tewari(ALC)</td>
            <td><a href="911990001012" href="911990001012">911990001012</a></td>
        </tr>
        <tr>

            <td>89</td>
            <td>Sanju Simick(ALC)</td>
            <td><a href="917603091104" href="917603091104">917603091104</a></td>
        </tr>
        <tr>

            <td>90</td>
            <td>Santanu Sen(ALC)</td>
            <td><a href="917603091105" href="917603091105">917603091105</a></td>
        </tr>
        <tr>

            <td>91</td>
            <td>Saraswati Lama(ALC)</td>
            <td><a href="917603091106" href="917603091106">917603091106</a></td>
        </tr>
        <tr>

            <td>92</td>
            <td>Sharmila Ghosh Khatua(JLC)</td>
            <td><a href="917603091011" href="917603091011">917603091011</a></td>
        </tr>
        <tr>

            <td>93</td>
            <td>Sharmistha Ghosh Bhattacharya(ALC)</td>
            <td><a href="917603091107" href="917603091107">917603091107</a></td>
        </tr>
        <tr>

            <td>94</td>
            <td>Shreejita Saha(ALC)</td>
            <td><a href="917603091114" href="917603091114">917603091114</a></td>
        </tr>
        <tr>

            <td>95</td>
            <td>Shyama Prasad Kundu(ALC)</td>
            <td><a href="917603091109" href="917603091109">917603091109</a></td>
        </tr>
        <tr>

            <td>96</td>
            <td>Shyamal Datta(DLC)</td>
            <td><a href="917603091033" href="917603091033">917603091033</a></td>
        </tr>
        <tr>

            <td>97</td>
            <td>Shyamal Kumar Roy Chowdhury(DLC)</td>
            <td><a href="917603091108" href="917603091108">917603091108</a></td>
        </tr>
        <tr>

            <td>98</td>
            <td>Sima Das(ALC)</td>
            <td><a href="917603091110" href="917603091110">917603091110</a></td>
        </tr>
        <tr>

            <td>99</td>
            <td>Sk. Nawsad Ali(ALC)</td>
            <td><a href="917603091083" href="917603091083">917603091083</a></td>
        </tr>
        <tr>

            <td>100</td>
            <td>Somnath Roy(DLC)</td>
            <td><a href="917603091111" href="917603091111">917603091111</a></td>
        </tr>
        <tr>

            <td>101</td>
            <td>Soumyajit Ray(ALC)</td>
            <td><a href="917603091112" href="917603091112">917603091112</a></td>
        </tr>
        <tr>

            <td>102</td>
            <td>Soumyanil Sarkar(ALC)</td>
            <td><a href="917603091113" href="917603091113">917603091113</a></td>
        </tr>
        <tr>

            <td>103</td>
            <td>Subas Mukhopadhyay(ALC)</td>
            <td><a href="917603091116" href="917603091116">917603091116</a></td>
        </tr>
        <tr>

            <td>104</td>
            <td>Subhagata Gupta(ALC)</td>
            <td><a href="917603091118" href="917603091118">917603091118</a></td>
        </tr>
        <tr>

            <td>105</td>
            <td>Sudipta Samanta(DLC)</td>
            <td><a href="917603091121" href="917603091121">917603091121</a></td>
        </tr>
        <tr>

            <td>106</td>
            <td>Sujay Majhi(ALC)</td>
            <td><a href="917603091122" href="917603091122">917603091122</a></td>
        </tr>
        <tr>

            <td>107</td>
            <td>Sukanta Roy Chowdhury(ALC)</td>
            <td><a href="917603091123" href="917603091123">917603091123</a></td>
        </tr>
        <tr>

            <td>108</td>
            <td>Sukanya Bhattacharya(ALC)</td>
            <td><a href="917603091124" href="917603091124">917603091124</a></td>
        </tr>
        <tr>

            <td>109</td>
            <td>Sumanta Roy(ALC)</td>
            <td><a href="917603091125" href="917603091125">917603091125</a></td>
        </tr>
        <tr>

            <td>110</td>
            <td>Sumanta Sekhar Roy(ALC)</td>
            <td><a href="917603091126" href="917603091126">917603091126</a></td>
        </tr>
        <tr>

            <td>111</td>
            <td>Sumita Mukherjee(DLC)</td>
            <td><a href="917603091034" href="917603091034">917603091034</a></td>
        </tr>
        <tr>

            <td>112</td>
            <td>Sutapa BHattacharya(ALC)</td>
            <td><a href="917603091127" href="917603091127">917603091127</a></td>
        </tr>
        <tr>

            <td>113</td>
            <td>Tania Dutta(ALC)</td>
            <td><a href="917603091138" href="917603091138">917603091138</a></td>
        </tr>
        <tr>

            <td>114</td>
            <td>Tapan Halder(ALC)</td>
            <td><a href="917603091130" href="917603091130">917603091130</a></td>
        </tr>
        <tr>

            <td>115</td>
            <td>Tapan Kumar Bhattacharjee(ALC)</td>
            <td><a href="917603091129" href="917603091129">917603091129</a></td>
        </tr>
        <tr>

            <td>116</td>
            <td>Tapan Kumar Haldar(ALC)</td>
            <td><a href="917603091131" href="917603091131">917603091131</a></td>
        </tr>
        <tr>

            <td>117</td>
            <td>Tapas Kumar Dutta(DLC)</td>
            <td><a href="917603091132" href="917603091132">917603091132</a></td>
        </tr>
        <tr>

            <td>118</td>
            <td>Tirthankar Sengupta(JLC)</td>
            <td><a href="917603091015" href="917603091015">917603091015</a></td>
        </tr>
        <tr>

            <td>119</td>
            <td>Tridibesh Chatterjee(DLC)</td>
            <td><a href="917603091200" href="917603091200">917603091200</a></td>
        </tr>
        <tr>

            <td>120</td>
            <td>Tuhin Subhra Majumdar(ALC)</td>
            <td><a href="917603091134" href="917603091134">917603091134</a></td>
        </tr>
        <tr>

            <td>121</td>
            <td>Uden Lepcha(ALC)</td>
            <td><a href="917603091135" href="917603091135">917603091135</a></td>
        </tr>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('.MoreContact').DataTable({
        });
    });
</script>