@{
    ViewBag.Title = "DocumentsUploaded";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}

<br/>
<div>
    <a href="#" target="_blank"><img src="~/Content/images/Untitled.jpg" style="border:none;" class="img-responsive clsimg"></a>
</div>