
@{
    ViewBag.Title = "Emptyunder";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class=" text-center" style="margin-top:150px;">
    <img src="~/Content/images/Underconstruction.png" class="img-responsive" style="height:200px">
    <h1>Under construction.</h1>
    <p class="lead">We are working hard to bring to you our great project soon.</p>

</div>