
@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}
<div class=" text-center" style="height:300px;">

    <center>
        <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <p class="clsp30">FAQs </p>
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>Bengali</td>
                        <td><a href='~/Content/pdf/Bengali%20FAQ0001.pdf' target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a></td>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td><a href='~/Content/pdf/Eng%20FAQ0001.pdf' target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a></td>
                    </tr>
                </table>
            </div>
    </center>
</div>

