@{
    ViewBag.Title = "Functions";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}
<div class=" text-center" style="height:300px;">
    <center>
        <div class="col-md-12">
            <p class="clsp30">Functions</p>
            <table class="table table-striped table-bordered" style="width: 497px;">
                <tr>
                    <td>Functions</td>
                    <td><a href='~/Content/pdf/Functions.pdf' target="_blank" ><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a></td>
                </tr>
            </table>
        </div>
    </center>
</div>
