@{
    ViewBag.Title = "GetPortalNoty";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<br />
<div class="container-fliud" style="height:300px;">
    <div class="col-md-10" style="margin-left:110px;">
        <table class="table table-striped table-bordered notifications">
            <thead>
                <tr>
                    @*<th style="display:none"></th>*@
                    <th><b>Date</b></th>
                    <th><b>Description</b></th>
                    <th><b>Download</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.get('@Url.Action("GetNotyListPortal", "Home")', {}, function (result) {
        
            $('.notifications tbody').empty();
            $.each(result, function (i, data) {
               
                if (data.Path == "" || data.Path == null)
                {
                    $('.notifications').append('<tr><td>' + data.Createddate + '</td><td>' + data.Notification + '</td><td>' + "No File" + '</td></tr>')
                }
                else
                {
                    $('.notifications').append('<tr><td>' + data.Createddate + '</td><td>' + data.Notification + '</td><td><a href=' + data.Path + ' target="_blank"  onClick = "ReadNoty(' + data.Id + ');" style="color: black !important; text-decoration: none" download>Download</a></td></tr>')
                }
              });
        });
    });
</script>
