
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <center>
        <div style="margin-top:200px;">
            <h3 style="color:darkmagenta">Your session has been closed,Some other user logged in with your credentials.</h3>

            @*Live
            <a href="https://www.ssy.wblabour.gov.in/"> Click here to go to Login Page</a>*@

            @*Local
            <a href="/Home/Index"> Click here to go to Login Page</a>*@

            @*Uat
            <a href="http://103.210.74.24/"> Click here to go to Login Page</a>*@

           
        </div>
    </center>
</body>
</html>
