@{
    ViewBag.Title = "organizationstructure";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}
<div style="padding:20px 0;">
    <div class="container">

        <div class='row'>
            <div class='col-md-12'>
                <img src="~/Content/images/organizational-structure.png" class="img-responsive ">
            </div>
        </div>
    </div>
</div>
