@{
    ViewBag.Title = "PhotoGallery";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
    }
<link href="~/Content/my_css/PhotoGallery.css" rel="stylesheet" />
@*<div style="padding:20px 0;">
    <div class="container">
        <div class='row'>
            <div class='col-md-12'>
                <img src="~/Content/images/20171014_190012.png" class="img-responsive" style="height:500px;">
            </div>
        </div>
    </div>
</div>*@
<div class="responsive margin-top" >
    <div class="gallery">
        <a target="_blank" href="~/Content/images/20171014_190012.png">
            <img src="~/Content/images/20171014_190012.png"  >
        </a>
        <div class="desc" style="background-color:antiquewhite"><b>SKOCH AWARD</b></div>
    </div>
</div>
<div class="responsive padding margin-top">
    <div class="gallery">
        <a target="_blank" href="~/Content/images/award2.png">
            <img src="~/Content/images/award2.png" style="height:350px !important" />
        </a>
        <div class="desc" style="background-color:antiquewhite"><b>SKOCH ORDER-OF-MERIT</b></div>
    </div>
</div>
<div class="responsive padding margin-top">
    <div class="gallery">
        <a target="_blank" href="~/Content/images/CSI-Nihilent-eGovernance-Award.jpg">
            <img src="~/Content/images/CSI-Nihilent-eGovernance-Award.jpg" style="height:350px !important" />
        </a>
        <div class="desc" style="background-color:antiquewhite"><b>CSI-Nihilent-eGovernance-Awards</b></div>

    </div>
</div>