@{
    ViewBag.Title = "rti";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}  		
<div id="welcome">
	<div class=" welcome-bg-inside">
		<div class="row">
			<div class="col-sm-12">
				<p class="clsp30 spncolor text-center">RTI</p>
				<div id="content-2" class="scrollContent content mCustomScrollbar light" data-mcs-theme="minimal-dark">
					<table class="table table-bordered table-stripped">
						<thead>
							<tr>
								<th width="65">Sl. No.</th>
								<th>TITLE</th>
								<th class="text-center">DOWNLOAD</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="sl-no">1.</td>
								<td>Frequently Asked Question</td>
								<td>
									<a href="~/Content/pdf/Some Related FAQs-RTIA.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
							<tr>
								<td class="sl-no">2.</td>
								<td>Information Commission(S),Right To Information Act, 2005</td>
								<td>
									<a href="~/Content/pdf/Information_commission_0.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
							<tr>
								<td class="sl-no">3.</td>
								<td>Labour Commissioner Notification</td>
								<td>
									<a href="~/Content/pdf/RTINotification-2016.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
							
							<tr>
								<td class="sl-no">4.</td>
								<td>Right To Information Act</td>
								<td>
									<a href="~/Content/pdf/rti-act.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
							<tr>
								<td class="sl-no">5.</td>
								<td>Right to Information Act 2005</td>
								<td>
									<a href="~/Content/pdf/RTIACT-05.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
							<tr>
								<td class="sl-no">7.</td>
								<td>Role Of Public Information Officers</td>
								<td>
									<a href="~/Content/pdf/Role of PIO.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
							<tr>
								<td class="sl-no">8.</td>
								<td>West Bengal Right To Information Rules,2006(With Amendments)</td>
								<td>
									<a href="~/Content/pdf/RTI RULES.pdf" target="_blank"><img src="~/Content/images/pdf.png" style="border:none;" class="img-responsive clsimg"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
  		