@model SSY.Models.RegistartionForUser
@{
    ViewBag.Title = "DistrictwiseDetailedRep";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}
@*For Arrow mark setting*@
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/my_css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/my_css/buttons.dataTables.min.css" rel="stylesheet" />
@*For Arrow mark setting end*@
<link href="~/Content/ssy_css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/ssy_css/font-awesome.min.css" rel="stylesheet" />
@*For Arrow mark setting*@
<script src="~/Content/ssy_js/jquery.js"></script>
<script src="~/Content/ssy_js/jquery.dataTables.min.js"></script>
<script src="~/Content/ssy_js/dataTables.jqueryui.min.js"></script>
@*For Arrow mark setting end*@
<script src="~/Content/ssy_js/dataTables.buttons.min.js"></script>
<script src="~/Content/ssy_js/buttons.flash.min.js"></script>
<script src="~/Content/ssy_js/jszip.min.js"></script>
<script src="~/Content/ssy_js/pdfmake.min.js"></script>
<script src="~/Content/ssy_js/vfs_fonts.js"></script>
<script src="~/Content/ssy_js/buttons.html5.min.js"></script>
<script src="~/Content/ssy_js/buttons.print.min.js"></script>
<style>
    th {
        font-size: 13px;
    }
    td {
        font-size: 13px;
    }
    .dt-buttons a {
        background: #8BC34A !important;
    }
</style>
<center>
    <div class="container-fliud">
        <div class=""><h4><b>District wise Detailed Report</b></h4></div>
        <br />
        <div class="col-sm-12" style="margin-left: 195px;">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">District</span>
                        @Html.DropDownListFor(m => m.disid, new SelectList(Model.district, "Value", "Text"), new { @class = "form-control District" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">Worker Type</span>
                        @Html.DropDownList("schemeid", new List<SelectListItem>
                                        {
                                             //new SelectListItem{ Text="-- Select Worker Type --", Value = "0" },
                                              new SelectListItem{ Text="ALL", Value = "ConstructionWorker,TransportWorker,Others" },
                                            new SelectListItem{ Text="Construction Worker", Value = "ConstructionWorker" },
                                             new SelectListItem{ Text="Transport Worker", Value = "TransportWorker" },
                                              new SelectListItem{ Text="Other Worker", Value = "Others" }
                                        }, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 727px;margin-top: -50px;"><a class="btn btn-primary" onclick="GetRepData()">Submit</a></div>
    </div>
</center>
<div class="container-fliud" id="Div1" style="margin-left: 38px;">
    <table class="DistrictWiseDet table table-striped table-bordered   dt-responsive nowrap" cellspacing="0" width="100%">
        <thead style="background-color:#87CEEB">
            <tr>
                <th></th>
                <th></th>
                <th colspan="3">
                    <center>Cummulative</center>
                </th>
                <th colspan="3">
                    <center>On Yesterday</center>
                </th>
            </tr>
            <tr>
                <th>Sno</th>
                <th>District</th>
                <th>Submitted </th>
                <th>Approved</th>
                <th>Pending </th>
                <th>Submitted </th>
                <th>Approved</th>
                <th>Pending</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="loader" style="display:none;">
        <center>
            <img class="loading-image" src="~/Content/images/ajax-loader.gif" alt="loading.." style="width:30px;height:30px;">
        </center>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetRepData();
        $('.DistrictWiseDet').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel'
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-text-o"></i>',
                    titleAttr: 'CSV'
                },
               {
                   extend: 'pdfHtml5',
                   text: '<i class="fa fa-file-pdf-o"></i>',
                   titleAttr: 'PDF',
                   titleAttr: 'PDF',
                   pageSize: 'A0'
               }
            ],
            "scrollX": true
        });
        $('th').css("background", "#87CEEB");
        $('th').css("color", "#ffffff");
    });
    function GetRepData() {
        $('.DistrictWiseDet tbody').empty();
        var districtid = $("#disid").val();
        var Scheme = $("#schemeid").val();
        var dis = "";
        if (districtid == 0) {
            dis = "0";
            var SubDistrictselected = $("#disid option:selected");
            $("#disid option").each(function () {
                dis += "," + $(this).val();
            });
        }
        else {
            dis = districtid;
        }
        $('.loader').show();
        $.get('@Url.Action("GetDistrictwiseDetailedRep", "Report")', { District: dis, Scheme: Scheme }, function (result) {
            var table = $('.DistrictWiseDet').DataTable();
            table.destroy();
            $('.DistrictWiseDet tbody').empty();
            $.each(result, function (i, data) {
                var num = i + 1;
                $('.DistrictWiseDet').append('<tr><td>' + num + '</td><td>' + data.CUdistname + '</td><td>' + data.CUsubmited + '</td><td>' + data.CUapprove + '</td><td>' + data.CRejected + '</td><td>' + data.Ysubmited + '</td><td>' + data.Yapprove + '</td><td>' + data.Yrejected + '</td></tr>')
            });
            $('.loader').hide();
            $('.DistrictWiseDet').DataTable({
                dom: 'Bfrtip',
                buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel'
                },
                 {
                     extend: 'csvHtml5',
                     text: '<i class="fa fa-file-text-o"></i>',
                     titleAttr: 'CSV'
                 },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',
                    orientation: 'landscape'
                }
                ],
                "scrollY": "200px",
                "scrollCollapse": true
            });
        });
    }
</script>