@{
    ViewBag.Title = "GrievancesReport";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}

<div class="container-fluid" style="margin-left:25px;">
   @* <center><font size="4"><b>Grievances Report</b></font></center>*@

    <div class="row">
        <div class="col-md-12 column">
            <div class="container-fluid">

                <iframe name="ifr" id="ifr" style="width: 100%;height:500px; position: relative; border: none; margin-bottom:5%;margin-left:50px;margin-right:150px;padding-right:50px; max-height: 400px;overflow-y:auto; border-radius: 0px; "></iframe>
            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {

        var url = "/SSYIDCard/GrievancesReport.aspx";


        $('iframe#ifr').attr('src', url);
    });

</script>

