@{
    ViewBag.Title = "PassWordStrenghtCheck";

    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}

<style>
    #result{
	margin-left:5px;
     font-weight: bold;
}

#register .short{
	color:#FF0000;
}

#register .weak{
	color:#E66C2C;
}

#register .good{
	color:#2D98F3;
   
}

#register .strong{
	color:#006400;
}
</style>

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" type="text/css" rel="stylesheet">

<script src="~/Scripts/my_scripts/PassWordStrength.js"></script>

<form style="margin-left:70px;margin-top:100px;" id="register">
    <fieldset style="width:150px;">
        @Html.TextBox("password", null, new { @class = "form-control", placeholder = "Old Password", minlength = "8", maxlength = "8", req = "Req", tabindex = "3", type = "password" })


        @*  Pass: <input type="password" id="password" />*@
        <span id="result"></span>
    </fieldset>

</form>