<!DOCTYPE html>
<html>
<title>SSY-Department</title>
<meta charset="utf-8" content="SSY Portal" oncontextmenu="SSY Portal">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
	
	<link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="material_design/material.css">
	<link rel="stylesheet" href="my_css/gallery.css">
	<link rel="stylesheet" href="my_css/windowblocks.css">-->
	<link rel="stylesheet" href="my_css/backgrounds.css">
	<!------------------------------------------------------------------------>
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<style>
		div{
			border:0px solid #333;
		}
	</style>
	</head>

<body id="style-3" class="dash1">
	<div class="fixedlayoutwindow whatliesbeyond"></div>
	<aside>
		<div id="nav" class="navbar sidebar" role="navigation">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h3 class="text-white" href="#">MENU</h3>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Dashboard<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				<li ><a href="#">Policies<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-paperclip"></span></a></li>
				<li ><a href="#">Procedures<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-link"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">FAQ's <!--<span class="caret"></span>--><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<!--<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Something else here</a></li>
					</ul>-->
				</li>
				<li><a href="#">Notifications<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-bell"></span></a></li>
				<li ><a href="#">Payment History<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-credit-card"></span></a></li>
				<!--<li ><a href="#">Edit Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
				<li ><a href="#">Change Password<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-eye-close"></span></a></li>
				<li ><a href="#">Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span></a></li>-->
			</ul>
		</div>
	</div>
		<!--<div class='row'>
		   <div class='col-md-12'>
			   
			  <div class="carousel slide updates-carousel" id="updates">
				  <h4 class="text-white">Latest Updates</h4>
				<div class="carousel-inner">
					
				  <div class="item  active">
					<div class="row">
					  <div class="">
						  
						<p class="text-white">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
					  </div>          

					</div>
				  </div>
				  <div class="item">
					<div class="row">
					  <div class="">
						  
						<p class="text-white">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
					  </div>          

					</div>
				  </div>

				</div>
				<a data-slide="prev" href="#updates" class="updatesleft carousel-control">‹</a>
				<a data-slide="next" href="#updates" class="updatesright carousel-control">›</a>
</div>                          
		   </div>
		</div>-->
</div>
		<div class="main">
		<section>
	<!---------------------------------------->
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1" style="margin-top:15px;"><img src="images/3lionshead-white.png" class="img-responsive" style="height:85px"></div>
				<div class="col-md-6 text-left" style="margin-left:-20px;margin-top:15px;"><h2 style="font-family: 'Exo', sans-serif;font-weight:bold;">SSY -<span style="">Samajik Suraksha Yojana</span></h2>
					<h5>Social Security for Unorganised workers</h5>
				</div>
				<div class="col-md-5 text-right" style="margin-top:40px;">
					<ul class="navigation-seperate">
						<li><a href="" class=" text-white"><span class="glyphicon glyphicon-bell"></span> @Session["UnReadNotyCount"]</a></li>
						<li><a href="" class=" text-white"><span class="glyphicon glyphicon-user"></span> Welcome @Session["UserName"]<span class="caret"></span></a>
						<ul>
				      <li><a href="~/Home/personalEditUserDetails"><span style="font-size: 16px;" class="hidden-xs showopacity glyphicon glyphicon-pencil"></span>Edit Profile</a></li>
                                    <li><a href="~/Login/PersonalPassWordChange"><span style="font-size: 16px;" class="hidden-xs showopacity glyphicon glyphicon-eye-close"></span>Change Password</a></li>
                                    <li><a href="~/Home/Index"><span style="font-size: 16px;" class="hidden-xs showopacity glyphicon glyphicon-off"></span>Logout</a></li>
                             				</ul>
						</li>
					</ul>
				</div>
				<!--
				<div class="col-md-3"><img src="images/mbenerjee.png" class="img-responsive pull-right" style="margin-top:10px;"></div>
				<div class="col-md-3 pull-right" style="margin-left:-70px;margin-top:18px;"><h2>Department of Labour</h2><h5>Government of West Bengal</h5>
				</div>
				-->
			</div>
		</div>
	</header>
	<!---------------------------------------->
	<div class="container-fluid">
		
  		<!--------------------------------------------------------------->
		
	<div class="heightoverflow">
		<div class="card">
			<div class="container-fliud">
				
				<div class="row">
					<div class="col-md-12">
						<h3 class="product-description">Pending Application Summary</h3>
						<table class="table table-striped table-bordered">
  							<thead><tr><th>S.No</th><th>Provisional/SSIN Number</th><th>Name</th><th>Scheme</th><th>Date</th><th>Status</th><th>Age(Days)</th></tr></thead>
							<tbody>
								<tr><td>1</td><td></td><td>Ravi</td><td>BOCW</td><td></td><td>Pending</td><td>8</td></tr>
								<tr><td>2</td><td></td><td>Raja</td><td>BOCW</td><td></td><td>Pending</td><td>6</td></tr>
								<tr><td>3</td><td></td><td>Nagendra</td><td>WBTWSS</td><td></td><td>Pending</td><td>5</td></tr>
								<tr><td>4</td><td></td><td>Aravind</td><td>BOCW</td><td></td><td>Pending</td><td>4</td></tr>
								<tr><td>5</td><td></td><td>Sunil</td><td>WBTWSS</td><td></td><td>Pending</td><td>3</td></tr>
								<tr><td>6</td><td></td><td>Sudheer</td><td>SASPFUW</td><td></td><td>Pending</td><td>1</td></tr>
								
							</tbody>
</table>
					</div>	
				</div>	
			</div>
		</div>
	</div>
		<!-------------------------------------------------->
			
	</div>
	<!---------------------------------------->
	<footer id="footer" class="clearfix" style="">
      <div id="sub-floor">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 copyright">
             Copy right for Westbengal © 2017
            </div>
            <div class="col-md-4 col-md-offset-4 attribution">
             Developed by  <a target="_blank" href="#">Westbengal</a> .
            </div>
          </div> <!-- end .row -->
        </div>
      </div>

    </footer>
		
	</section>
		</div>
	</aside>
	
	<!------------------------------------->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script defer src="bootstrap/js/bootstrap.js"></script>
	<script src="my_scripts/combined.js"></script>
</body>

</html>