
<div id="welcome divForms">
    <div class=" welcome-bg-inside">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="inner-page-title nopadbot text-center">Forms</h1>
                <div id="content-2" class="scrollContent content mCustomScrollbar light" data-mcs-theme="minimal-dark">
                    <table class="table table-bordered table-stripped view-act-rules-table">
                        <thead>
                            <tr class="whatliesbeyond">
                                <th width="65">Sl. No.</th>
                                <th>TITLE</th>

                                <th class="text-center">Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="sl-no">1.</td>
                                <td>Form 1 in English</td>

                                <td>
                                    <a href="/Content/pdf/Form_1_English.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="sl-no">2.</td>
                                <td>Form 1 in Bengali</td>

                                <td>
                                    <a href="/Content/pdf/Form_1_Bengali.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="sl-no">3.</td>
                                <td>Form 5 in English</td>

                                <td>
                                    <a href="/Content/pdf/Form_5_English.pdf" target="_blank"><img src="/Content/images/pdf.png" style="border:none;" class="img-responsive"></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>