<div id="content">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 nocollapse">


            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

                <header>
                    <h2>Fund Request View </h2>
                </header>


                <div>


                    <div class="jarviswidget-editbox">

                    </div>

                    <div class="widget-body no-padding">


                        <form class="smart-form smart-form-main">
                            <header>ALC Details </header>
                            <fieldset>
                                <section>


                                    <div class="row">
                                        <div class="col col-6">
                                            <label><strong>ALC Name: </strong>{{officeDetails.userName}} </label>
                                        </div>
                                        <div class="col col-6">
                                            <label><strong>RLO Office Name & Address: </strong>{{RloOfficeAddress.rloOfficeName}} <br /> {{RloOfficeAddress.addressLine1}} &nbsp; {{RloOfficeAddress.addressLine2}}</label>
                                        </div>
                                        <div class="col col-6">
                                            <label><strong>Fund Request Date: </strong>{{fundrequestDetails.fundRequestDateString}}</label>
                                        </div>
                                    </div>
                                </section>
                            </fieldset>
                            <fieldset>
                                <section style="display:none">
                                    <header>  Fund Status at RLO</header>
                                    <div class="row">
                                        <div class="col col-6">
                                            <label><strong>Balance as on today : </strong>{{RloOfficeAddress.balanceOfTheAmount}}</label>
                                        </div>
                                        <div class="col col-6">
                                            <label><strong>Approved Claims Amount: </strong>{{officeDetails.approvedClaimsAmount}} </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-6">
                                            <label><strong>Amount Shortfall: </strong>{{AmountShortfall}}</label>
                                        </div>

                                    </div>
                                </section>

                                <section>
                                    <div class="row">
                                        <div class="col col-6">
                                            <label><strong>Board: </strong>{{fundrequestDetails.boardName}} </label>
                                        </div>
                                        <!--<div class="col col-6">
                                            <label><strong>Claim Types: </strong>{{fundrequestDetails.claimTypes}} </label>
                                        </div>-->
                                    </div>
                                    <!--<div class="row">
                                        <div class="col col-6">
                                            <label><strong>Locations : </strong>{{fundrequestDetails.locationNames}}</label>
                                        </div>
                                    </div>-->
                                </section>



                                <section style="display:none">
                                    <div class="row">
                                        <div class="col col-6">
                                            <div class="inline-group">
                                                <label class="radio">
                                                    <input type="radio" name="radio-inline" checked="checked">
                                                    <i></i>Fund Request for Claims
                                                </label>
                                                <label class="radio" style="margin-top:10px !important">
                                                    <input type="radio" name="radio-inline" disabled>
                                                    <i></i>Fund Request for Expenses
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section style="display:none">
                                    <div class="row" style="margin-top:15px;">
                                        <div class="col col-6 selectContainer">
                                            <label class="label">Board<span [style.color]="!boardIdValid?'red':''"><b>*</b></span></label>

                                            <select class="form-control" name="boardId" [(ngModel)]="boardId">
                                                <option value="" selected>Select</option>
                                                <option value="{{board.boardId}}" *ngFor="let board of boardList">{{board.boardName}}</option>
                                            </select>

                                        </div>
                                        <!--<div class="col col-6 selectContainer">
                                            <label class="label">Category</label>

                                            <select class="form-control" name="claimTypeIds" [(ngModel)]="claimTypeIds">
                                                <option value="0" selected>All</option>
                                                <option value="{{type.claimTypeId}}" *ngFor="let type of claimTypesList">{{type.claimTypeName}}</option>

                                            </select>

                                        </div>
                                        <div class="col col-6 selectContainer">
                                            <label class="label">Location</label>
                                            <select class="form-control" name="locationsIds" [(ngModel)]="locationsIds">
                                                <option value="0" selected>All</option>
                                                <option value="{{location.blockSno}}" *ngFor="let location of LocationList">{{location.blockName}}</option>
                                            </select>
                                        </div>-->
                                    </div>
                                </section>
                            </fieldset>
                            <fieldset>
                                <section *ngIf="editmode">
                                    <div class="col col-6 selectContainer">
                                        <a class="btn btn-primary" (click)="openModel()"> Add </a>
                                    </div>
                                    <div class="row" *ngIf="showErrorMessage">
                                        <div class="col col-12" style="color:red; margin-bottom:10px;">
                                            <label>Please add atleast one record to proceed.</label>
                                        </div>
                                    </div>
                                </section>
                            </fieldset>

                        </form>
                        <!--/ Success states for elements -->
                    </div>

                </div>
            </div>
            <!-- widget grid -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">

                <section id="widget-grid" class="">


                    <div class="row">

                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">


                                <div>

                                    <div class="jarviswidget-editbox">

                                    </div>
                                    <div class="widget-body no-padding">
                                        <form class="smart-form smart-form-main">
                                            <table id="datatable_fixed_column" class="table table-striped table-bordered"
                                                   [mfData]="expensesDetailsArray" #mf="mfDataTable" [mfRowsOnPage]="10" width="100%">

                                                <thead>
                                                    <tr>
                                                        <!--<th *ngIf="editmode"><input type="checkbox" name="selectedAll" [(ngModel)]="selectedAll" (change)="selectAll();"></th>-->
                                                        <th>Item</th>
                                                        <th>Fund Required</th>
                                                        <th>Physical Target</th>
                                                        <th>Expenditure incurred during last financial year</th>
                                                        <th *ngIf="editmode"></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr *ngFor="let expense of mf.data">
                                                        <!--<td class="" *ngIf="editmode">
                    <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="expense.selected" (change)="checkIfAllSelected();">
                </td>-->
                                                        <td>{{expense.itemName}}</td>
                                                        <td>{{expense.fundsRequired}}</td>
                                                        <td>{{expense.physicalTarget}}</td>
                                                        <td>{{expense.expenditureIncurredDuringLastFinYear}}</td>
                                                        <td *ngIf="editmode">
                                                            <a class="btn btn-labeled btn-primary" (click)="editExpenseDetails(expense)" style="margin-right:5px;"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                                            <a class="btn btn-labeled btn-danger" (click)="removeExpenseDetails(expense)"><i class="glyphicon glyphicon-trash"></i> Remove</a>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5" style="border-bottom:0px !important">
                                                            <mfBootstrapPaginator></mfBootstrapPaginator>
                                                        </td>

                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <header>Time Line</header>
                                            <fieldset>
                                                <section>
                                                    <!-- row -->
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:98%">
                                                            <div class="well well-sm">
                                                                <div class="smart-timeline">
                                                                    <ul class="smart-timeline-list">

                                                                        <li *ngFor="let item of claimsTrack">
                                                                            <div class="smart-timeline-icon">
                                                                                <i class="fa fa-user"></i>
                                                                            </div>
                                                                            <div class="smart-timeline-time">
                                                                                <small>{{formatDate(item.actionDate)}}</small>
                                                                            </div>
                                                                            <div class="smart-timeline-content">
                                                                                <p>
                                                                                    <a href="javascript:void(0);"><strong>{{item.userName}} - {{item.action}}</strong></a>
                                                                                </p>
                                                                                <p>
                                                                                    {{item.actionComments}}
                                                                                </p>
                                                                            </div>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </fieldset>
                                            <fieldset class="top-10"></fieldset>
                                            <fieldset>
                                                <section>
                                                    <label>ALC Comments<span [style.color]="!commentsValid?'red':''"><b>*</b></span></label>
                                                    <label class="textarea textarea-resizable">
                                                        <textarea rows="3" class="custom-scroll" [disabled]="!editmode" name="alcComments" [(ngModel)]="alcComments"
                                                                  [ngClass]="{'invalid-data': (!commentsValid ), 'valid-data': commentsValid}"
                                                                  required></textarea>
                                                    </label>
                                                    <div *ngIf="(!commentsValid)">
                                                        <span style="color: red;">ALC Comments is required </span>
                                                    </div>
                                                </section>
                                            </fieldset>
                                            <fieldset>
                                                <section>
                                                    <label>DLC Comments</label>
                                                    <label class="textarea textarea-resizable">
                                                        <textarea rows="3" class="custom-scroll" [disabled]="true" name="dlcComments" [(ngModel)]="dlcComments"></textarea>
                                                    </label>
                                                </section>
                                            </fieldset>
                                            <fieldset>
                                                <section>
                                                    <label>Board Comments</label>
                                                    <label class="textarea textarea-resizable">
                                                        <textarea rows="3" class="custom-scroll" [disabled]="true" name="boardComments" [(ngModel)]="boardComments"></textarea>
                                                    </label>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <a id="btnSava" class="btn btn-success" *ngIf="editmode" (click)="SubmitRequest()"> Submit </a>
                                                <a class="btn btn-danger" (click)="cancelclick()"> Cancel</a>
                                            </footer>
                                        </form>
                                    </div>

                                </div>

                            </div>

                        </article>

                    </div>
                </section>
            </div>
        </article>
    </div>
</div>
<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" [config]="{backdrop: 'static',keyboard:false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status Message</h4>
            </div>
            <div class="modal-body">
                <p id="mesgSubmit">{{successMessage}}</p>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" (click)="downloadRecipt()">
                    Download Receipt
                </button>-->
                <button type="button" class="btn btn-primary" (click)="okClick()">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>

<div bsModal #expensesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" [config]="{backdrop: 'static',keyboard:false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="expensesModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Expense Details</h4>
            </div>
            <div class="modal-body">
                <fieldset id="divAddExpensesDetails">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="label"> Item <span [style.color]="!expenseTypeValid?'red':''"><b>*</b></span></label>
                                <select name="expenseType" class="form-control" [(ngModel)]="expensesDetails.itemId"
                                        #expenseType="ngModel"
                                        [ngClass]="{'invalid-data': !expenseTypeValid,
                                        'valid-data': expenseTypeValid }"
                                        required>
                                    <option value="0" selected disabled>Choose Item</option>
                                    <option value="{{expense.lovDtlId}}" *ngFor="let expense of expensesTypesLov">{{expense.optionName}}</option>
                                </select> <i></i>
                                <div *ngIf="!expenseTypeValid">
                                    <span style="color: red;">Select Item </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="label">Fund Required <span [style.color]="!fundRequiredValid?'red':''"><b>*</b></span></label>
                                <input type="text" class="form-control" name="fundRequiredAmount" placeholder="Fund Required" [(ngModel)]="expensesDetails.fundsRequired" NumbersOnly
                                       #fundRequiredAmount="ngModel"
                                       [ngClass]="{'invalid-data': !fundRequiredValid, 
                                       'valid-data': fundRequiredValid}"
                                       required>
                                <div *ngIf="!fundRequiredValid">
                                    <span style="color: red;">Fund Required is required </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="label">Physical Target</label>
                                <input type="text" class="form-control" name="physicalTarget" placeholder="Physical Target" NumbersOnly [(ngModel)]="expensesDetails.physicalTarget" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="label">Expenditure incurred during last financial year</label>
                                <input type="text" class="form-control" name="expenditureIncurredDuringLastFinYear" placeholder="Expenditure incurred" NumbersOnly [(ngModel)]="expensesDetails.expenditureIncurredDuringLastFinYear" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="expensesModal.hide()">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" (click)="addExpenseDetails(expensesDetails)">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>