<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-sortable="false">
                <header>
                    <h2>Legacy Claim Status </h2>
                </header>
                <!-- widget div-->
                <div>
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <div class="widget-body no-padding">
                        <div class="ssv-search">
                            <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                        <p></p>
                        <table class="table table-striped" [mfData]="legacyClaimsData" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <!--<th>
                                        <mfDefaultSorter>Action</mfDefaultSorter>
                                    </th>-->
                                    <th>
                                        <mfDefaultSorter by="ssinNumber">SSIN No.</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="oldRegdNo">Old Regd No.</mfDefaultSorter>
                                    </th>
                                    <!--<th>
                                        <mfDefaultSorter by="claimRefernceNo">Claim Refernce No.</mfDefaultSorter>
                                    </th>-->
                                    <th>
                                        <mfDefaultSorter by="claimDateString">Claim Date</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="claimAmount">Claim Amount</mfDefaultSorter>
                                    </th>
                                    <!--<th>
                                        <mfDefaultSorter by="statusName">Satus</mfDefaultSorter>
                                    </th>-->
                                    <th>
                                        <mfDefaultSorter by="claimCategoryName">Claim Catagory</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of mf.data|grdFilter: {ssinNumber: searchText,oldRegdNo: searchText,claimDateString:searchText,claimAmount:searchText,claimCategoryName:searchText
                                    }; let i=index;">
                                    <!--<td class="">
                                    <a (click)="onreviewClick(data)" title="View" class="txt-color-red"><i class="fa fa-eye"></i></a>
                                                                </td>-->
                                    <td>{{data.ssinNumber}}</td>
                                    <td>{{data.oldRegdNo}}</td>
                                    <!--<td>{{data.claimRefernceNo}}</td>-->
                                    <td>{{data.claimDateString}}</td>
                                    <td>{{data.claimAmount}}</td>
                                    <!--<td>{{data.statusName}}</td>-->
                                    <td>{{data.claimCategoryName}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <ngb-pagination [collectionSize]="totalRows" [(pageSize)]="pageSize" [(page)]="page" (pageChange)="changepage($event)" [boundaryLinks]="true"></ngb-pagination>
                                        <!--<mfBootstrapPaginator></mfBootstrapPaginator>-->
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
