
<div class="divDocumentsUploaded">


    <div class="col-sm-3">
    </div>

    <div class="col-sm-6">

        <h2>Documents to be uploaded</h2>

        <ul style="list-style-type:square;">
            <li>&#9672; Photo</li>
            <li>&#9672; Signature</li>
            <li>&#9672; Aadhaar Card</li>
            <li>&#9672; Bank Passbook</li>
            <li>&#9672; Epic Card</li>
            <li>&#9672; Form - 1</li>
            <li>&#9672; Dependency PassBook</li>
        </ul>
    </div>
</div>
