<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="bn" xml:lang="en" >

<head>
    <meta http-equiv="Content-Type: text/html;charset=utf-8">
    <title></title>
</head>
<body>

    <table>
        <tbody>
            <tr>
                <td>
                    <!--style="height:204px;display:inline-block;"-->
                    <!--style="height:204px;display:inline-block;margin-left:10px;"-->
                    <!--D:\SSY Backup(Sunitha)\Phase-2\SSYNEW\SSYNEW\Content\images\Cards\SSY-Front Card-DB.png-->
                    <img src="D:\\SSYBackup(Sunitha)\\Phase-2\\SSYNEW\\SSYNEW\\Content\\images\\Cards\\SSY-Front-Card-DB.png" >
                    <img src="D:\\SSYBackup(Sunitha)\\Phase-2\\SSYNEW\\SSYNEW\\Content\\images\\Cards\\SSY-Back-Card-DB.png">
                    <table class="inside-block">
                        <tbody>
                            <tr>
                                <td style="width:180px;">
                                    SSIN:
                                </td>

                                <td>
                                    {ssin}
                                </td>
                            </tr>

                            <tr>
                                <td style="width:180px;">
                                    Name:
                                </td>

                                <td>
                                    {Name}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bengali :
                                </td>
                                <td>
                                    {BengName}
                                </td>
                            </tr>


                            <!--<p>
                                <b>SSIN: SSIN5609010</b><br><br>
                                <b>Name :RAVINDRA K</b><br><br>
                                <b>BENGALI</b>
                            </p>-->
                            <!--<p>D.O.B : 26-06-2017</p>
                            <p>Bengali</p>-->
                            <tr>
                                <td style="width:115px">
                                    <img src="D:\\SSYBackup(Sunitha)\\Phase-2\\SSYNEW\\SSYNEW\\Content\\images\\Cards\\passport-100.jpg" style="margin-top:15px;margin-left:49px;height:70px">
                                    <img src="D:\\SSYBackup(Sunitha)\\Phase-2\\SSYNEW\\SSYNEW\\Content\\images\\Cards\\ravindra-sign-bengali.png" style="height:25px;margin-left:35px;">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
                <!--<td></td>
                <td><img src="ssy-back-card.png" style="height:204px"> </td>-->
            </tr>
        </tbody>
    </table>

</body>
</html>
