

<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

    <link href="~/Content/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="material_design/material.css">
    <link rel="stylesheet" href="my_css/gallery.css">
    <link rel="stylesheet" href="my_css/windowblocks.css">-->
    <link rel="stylesheet" href="~/Content/my_css/backgrounds.css">
    <!------------------------------------------------------------------------>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Conten/timages/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        .col-md-5, .col-md-7 {
            border: 0px solid #333;
        }
    </style>
</head>

<body id="style-3" class="dash1">
 
    <aside>
       
        <div class="main">
      
        </div>
    </aside>
    

        <!---------------------------------------->
      
        <!---------------------------------------->
    <div style="background-color:#a3a7de" >@RenderBody()</div>
   
        <!---------------------------------------->
        <footer id="footer" class="clearfix" style="width:1750px;">
            <div id="sub-floor">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 copyright">
                            Copy right for Westbengal © 2017
                        </div>
                        <div class="col-md-4 col-md-offset-4 attribution">
                            Developer by  <a target="_blank" href="#">Westbengal</a> .
                        </div>
                    </div> <!-- end .row -->
                </div>
            </div>

        </footer>

    
    <!------------------------------------->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script defer src="bootstrap/js/bootstrap.js"></script>
    <script>
	$(document).ready(function() {
  $('#media').carousel({
    pause: true,
    interval: false,
  });
});
    </script>
</body>


