<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SSYNEW-20170513045210.mdf;Initial Catalog=aspnet-SSYNEW-20170513045210;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--PrePro-->
		<!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.93.178;initial catalog=SSYDemo;user id=Prabhu;password=raminfo@2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SSYAuditLogEntities" connectionString="data source=172.16.93.178;initial catalog=SSYServiceLog;user id=Prabhu;password=raminfo@2018;" providerName="System.Data.EntityClient" />-->

		<!--UAT-->
		<!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.93.177;initial catalog=SSYDemo;user id=Prabhu;password=Valuesoft#!123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SSYAuditLogEntities" connectionString="data source=172.16.93.177;initial catalog=SSYServiceLog;user id=Prabhu;password=Valuesoft#!123;" providerName="System.Data.EntityClient" />-->

		<!--LIVE-->
		<!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=36.255.252.169;initial catalog=SSYDemo;user id=Prabhu;password=ValueSOft#@$89;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SSYAuditLogEntities" connectionString="data source=36.255.252.169;initial catalog=SSYServiceLog;user id=Prabhu;password=ValueSOft#@$89;" providerName="System.Data.EntityClient" />-->

		<!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.11;initial catalog=SSYDemo;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SSYAuditLogEntities" connectionString="data source=192.168.0.11;initial catalog=SSYServiceLog;user id=sa;password=sqlserver;" providerName="System.Data.EntityClient" />-->

		<!--SDC-->
		<!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.176.16;initial catalog=SSYDemo;user id=sa;password=Raminfo@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="SSYAuditLogEntities" connectionString="data source=172.20.176.16;initial catalog=SSYServiceLog;user id=sa;password=Raminfo@2020;" providerName="System.Data.EntityClient" />-->
    
    <!--UAT-->
		<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.93.180;initial catalog=SSYDemo;user id=Prabhu;password=ValueSOft#@$89;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SSYAuditLogEntities" connectionString="data source=172.16.93.180;initial catalog=SSYServiceLog;user id=Prabhu;password=ValueSOft#@$89;" providerName="System.Data.EntityClient" />
    
    <!--local-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-02M6DJ1;initial catalog=SSYDemo;user id=vkd;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SSYAuditLogEntities" connectionString="data source=DESKTOP-02M6DJ1;initial catalog=SSYServiceLog;user id=vkd;password=sqlserver;" providerName="System.Data.EntityClient" />-->
    
        <!--local-->
    <!--<add name="SSYEntities" connectionString="metadata=res://*/SSYModel.csdl|res://*/SSYModel.ssdl|res://*/SSYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.11;initial catalog=SSYDemo;user id=sa;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SSYAuditLogEntities" connectionString="data source=192.168.0.11;initial catalog=SSYServiceLog;user id=sa;password=sqlserver;" providerName="System.Data.EntityClient" />-->

	</connectionStrings>
	<appSettings>


		<add key="ReportServerURL" value="http://172.16.93.170:80/ReportServer_SSYDB02" />
		<add key="RSDomainUserName" value="raminforeport" />
		<add key="RSDomainPassword" value="LKRbm1JVho" />
		<add key="RSDomainName" value="raminfo.local" />
    
    <!--http://172.16.93.166/SSYAPI/v1/ -->
		<add key="api" value="http://localhost:64163/v1/" />
    <!--<add key="api" value="http://172.16.93.180/SSYAPI/v1/" />-->

		<add key="SmsCountryUrlSendSms" value="https://api.smscountry.com/SMSCwebservice_bulk.aspx?" />
		<add key="SmsCountryUser" value="SSYWEB" />
		<add key="SmsCountryPwd" value="Ssy@2017" />
		<add key="SmsCountryUrlCheckBal" value="https://api.smscountry.com/SMSCwebservice_User_GetBal.asp?" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SSYFilePath" value="D:\FileUpload\" />
		<!--To send Mail-->
		<add key="SMTPHost" value="smtp.gmail.com" />
		<add key="EmailSender" value="wblabourhelpdesk@gmail.com" />
		<add key="EmailPassword" value="ssy@2017" />
		<add key="SMTPPort" value="587" />
		<add key="EnableSsl" value="True" />
		<add key="CheckSessions" value="True" />
		<!--Transalation Key-->
		<add key="TransKey" value="c2e22b7cc93449d1af7f4116c3d31d7d" />
		<add key="CheckSecurity" value="Staging" />
		<add key="CompressValue" value="0.5" />
		<add key="CompreessAbove" value="50" />
		<add key="Compression" value="No" />
		<!--SASPF-->
		<add key="ITCUrl" value="https://saspfuwwb.gov.in/axis/BenefSummary" />
		<add key="ITCUserId" value="WbWsUser" />
		<add key="ITCPwd" value="wbwsuser@123" />
		<!--<add key="ITCUrltrans" value="https://219.65.97.126:8443/axis/BenefTransactionDetails" />
    <add key="ITCUserId" value="WsUser" />
    <add key="ITCPwd" value="wsuser@123" />-->
		<add key="ITCUrltrans" value="https://saspfuwwb.gov.in/axis/BenefTransactionDetails" />
		<add key="ITCUserId" value="WbWsUser" />
		<add key="ITCPwd" value="wbwsuser@123" />
		<!--File Savings-->
		<add key="FolderPath" value="D://SSY_PROJECT/Registration_Split/WB - SSY/SSYNEW/" />
		<add key="DownloadPath" value="D://SSYIDCards" />
		<add key="ExcelPath" value="D:\\SSY_Excel\\" />
		<add key="MaintenanceAct" value="0" />
		<add key="IsLive" value="1" />
		<add key="NewFilesPath" value="172.18.117.227/ssyapp" />


		<!--Rabbit MQ Configuration-->
		<add key="IsEnableRabbitMQ" value="true" />
		<add key="QueueName" value="DedoupBeneficiary" />
		<add key="QDomain" value="172.16.93.178" />
		<add key="QUserName" value="bala" />
		<add key="QPassword" value="bala@123" />
		<add key="QVhost" value="ssy" />


		<!--Site Alert Option Start-->
		<add key="IsEnableSiteAlert" value="1" />
		<add key="AlertSiteHeader" value="haeder" />
		<add key="AlertSiteMessage" value="Error 0324: Storage is full to save documents, please contact administrator." />
		<add key="TimesOfAlertDisplayHours" value="01,02,03,04,05,06,07,08,09,10,11,12" />
		<add key="AlertDisplayMinutes" value="00,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59" />

		<!--Site Alert Option End-->

		<!--Login Count Checking-->
		<add key="LoginLimit" value="99"/>
		<add key="LoginAlertMessage" value="Error 43023: Number of sessions exceeded the limit, please try again later."/>
		
		<!--Restrict Login-->
		<add key="RestrictLogin" value="8,9,10,11,14"/>
		<add key="RestrictLoginMessage" value="Selected login temporarily unavailable" />


	</appSettings>
	<system.web>
		<!--<sessionState timeout="20"></sessionState>-->
		<!--ssrs Report-->
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
		<sessionState mode="InProc" timeout="120" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
			<!--ssrs Report-->
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
		</compilation>
		<!--Change-->
		<httpRuntime targetFramework="4.5" maxUrlLength="10999" maxRequestLength="2097152" maxQueryStringLength="2097151" />
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
		<customErrors mode="Off" />
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<!--Change-->
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="52428800" maxQueryString="2097151">
				</requestLimits>
				<!--50MB-->
			</requestFiltering>
		</security>
		<handlers>
			<!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
			<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>-->
		<modules>
			<remove name="FormsAuthenticationModule" />
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<elmah>
		<!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
		<security allowRemoteAccess="false" />
	</elmah>
	<location path="elmah.axd" inheritInChildApplications="false">
		<system.web>
			<httpHandlers>
				<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			</httpHandlers>
			<httpRuntime enableVersionHeader="false" />
		</system.web>
		<system.webServer>
			<handlers>
				<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			</handlers>
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>